
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@Html.ActionLink("Gear", "GearIndex", "Manager", new { area = "" }, new { @class = "navbar-brand" })
@Html.ActionLink("Bikes", "BikeIndex", "Manager", new { area = "" }, new { @class = "navbar-brand" })

