@{
    ViewBag.Title = "ReviewSuccess";
}

<h2>Thank you for the review</h2>


@Html.ActionLink("Back to Bike List", "Index", "Bikes", null, new { @class = "otherlink" })<br />
@Html.ActionLink("Back to Gear List", "Index", "Gear", null, new { @class = "otherlink" })