@model IEnumerable<MileStone2A.Models.ProductCategory>

@{
    ViewBag.Title = "Gear";
}

<h2>Our Gear</h2>

@foreach (var item in Model)
{
    @Html.ActionLink(@item.Name, @item.Name, new { area = "" }, new { @class = "list-brand" })
    <br />
}
