@model IEnumerable<MileStone2A.Models.ProductCategory>

@{
    ViewBag.Title = "Bikes";
}

<h2>Our Bike Selection</h2>

@foreach (var item in Model)
{
    @Html.ActionLink(@item.Name, @item.Name.Split()[0], new { area = "" }, new { @class = "list-brand" })
    <br />
}

<div class="slideshow-container">

    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="~/Content/images/BikePictures/mountainBike1.jpg" style="width:100%">
        <div class="text"></div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="~/Content/images/BikePictures/mountainBike2.jpg" style="width:100%">
        <div class="text"></div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="~/Content/images/BikePictures/roadBike1.jpg" style="width:100%">
        <div class="text"></div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">4 / 4</div>
        <img src="~/Content/images/BikePictures/roadBike2.jpg" style="width:100%">
        <div class="text"></div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">5 / 5</div>
        <img src="~/Content/images/BikePictures/urbanBike1.jpg" style="width:100%">
        <div class="text"></div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>

</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
</div>

<script>
    'use strict';
    var slideIndex = 1;
    var mytimer = setTimeout(showSlides, 5000);
    //window.onload = showSlides(slideIndex);
    plusSlides(0);
    function plusSlides(n) {
        clearTimeout(mytimer);
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        clearTimeout(mytimer);
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        //alert('showslides('+ n +')\nslideIndex='+slideIndex);
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n == undefined) { n = ++slideIndex }
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        mytimer = setTimeout(showSlides, 5000);
        //setTimeout(showSlides, 5000); // Change image every 5 seconds
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}