@model IEnumerable<MileStone2A.Models.ProductCategory>

@{
    ViewBag.Title = "Bikes";
}

<h2>Our Bike Selection</h2>

@foreach (var item in Model) {
    <a href="@Href("~/Bikes", @item.Name.Split()[0])">@item.Name</a>
    <br>
}