@model IEnumerable<MileStone2A.Models.ProductCategory>

@{
    ViewBag.Title = "Bikes";
}

<h2>Our Bike Selection</h2>

@foreach (var item in Model)
{
    @Html.ActionLink(@item.Name, @item.Name.Split()[0], new { area = "" }, new { @class = "list-brand" })
    <br />
}