@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We are a montreal based company who is very passionate about bikes and we do our best to sell</p>
<p>them at an affordable price for you. </p>
<h4>History about us</h4>
<p>Joe Breeze is normally credited with introducing the first purpose-built mountain bike in 1978. Tom Ritchey then went on to make frames for a company called MountainBikes, a partnership between Gary Fisher, Charlie Kelly and Tom Ritchey. 
    Once the mountain bike was invented we thought that we should give to the world and only 3 years after this event we started selling all sorts of bikes.</p>

&nbsp;
<h1>FAQS</h1>
<div id="button">
    <ul>
        <li><a>What do we sell?</a></li>
        <li>We sell various different bikes and clothing like mountain bikes, road bikes, jerseys etc...</li>
        <li><a>Why are we in this business?</a></li>
        <li>We decided to get into the business because we thought that biking is really good for your health.</li>
        <li><a>Any other questions could be asked through the contact us Tab</a></li>
    </ul>
</div>