
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@Html.ActionLink("Gear", "Create", "Gear", new { area = "" }, new { @class = "navbar-brand" })
@Html.ActionLink("Bikes", "Create", "BikesManager", new { area = "" }, new { @class = "navbar-brand" })

