@{
    ViewBag.Title = "Home Page";
}

<h2>We Sell Only Our Quality Brands, at Low Prices!</h2>
<p><i>
    If you came for a great variety of bikes made by us alone
    you came to the right place! <strong>Bikes 'R' Us</strong> brings you
    the smooth ride that you desire, at a competitively low
    price to boot. So if you desire that perfect bike
    we can deliver, with a variety of models you will not
    find anywhere else!
</i></p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Mauris ac sem sed lectus egestas posuere eget a enim. Morbi feugiat, 
    sem nec lobortis volutpat, arcu tellus pharetra massa, 
    non vehicula ipsum purus vitae leo. Vivamus vel consectetur risus. 
    Fusce fringilla auctor est. Nam egestas mattis porttitor. 
    Duis tristique dui lectus, eu convallis massa placerat a. 
    Nam vitae elit urna. Ut ipsum tellus, ornare molestie semper nec, 
    bibendum nec lacus. Praesent rutrum odio ac urna maximus, 
    at tempor diam facilisis. Vivamus euismod, tortor ac mattis porttitor, 
    lorem elit aliquet est, sed vulputate tortor augue ut ligula. 
    Sed condimentum iaculis nibh, et molestie lorem bibendum fringilla. 
    Vivamus accumsan tellus turpis, vel condimentum leo consectetur at. 
</p>
<p>
    Suspendisse ac volutpat neque, sed hendrerit mi. 
    Etiam in tortor finibus, aliquam tellus in, faucibus dolor. 
    Nunc orci justo, suscipit at ligula ut, scelerisque tincidunt erat. 
    Suspendisse egestas molestie turpis, sed imperdiet nisi molestie a. 
    Morbi quis orci hendrerit purus feugiat vestibulum. 
    Etiam metus lorem, venenatis at odio ut, placerat auctor elit. 
    Integer vel mattis libero. Phasellus blandit, eros et rutrum ornare, 
    diam urna tristique nulla, vitae facilisis velit lorem sit amet ante. 
    Suspendisse potenti. Maecenas bibendum nibh scelerisque,
    ullamcorper mi non, rutrum ante. Nunc convallis vehicula mi et fermentum. 
    Proin in venenatis nulla, id interdum tellus. 
    Fusce laoreet sollicitudin nulla, id ultrices lectus lobortis ut. 
    Nullam imperdiet ac felis ac varius. 
</p>
