@{
    ViewBag.Title = "Home Page";
}

<h2>We Sell Only Our Quality Brands, at Low Prices!</h2>
<p>If you came for a grest variety of bikes made by us alone<br>
    you came to the right place! Nick's bike store brings you<br>
    the smooth ride that you desire, at a competitively low<br>
    price to boot. So if you desire that perfect just bike <br>
    we can deliver, with a variety of models you will not <br>
    find anywhere else!</p>
